input[type=radio].check ,input[type=checkbox].check{
    display: none;
}

input[type=radio].check + label,input[type=checkbox].check + label{
    cursor: pointer;
}


input[type=radio].check:checked + label ,input[type=checkbox].check:checked + label{
    background: #2ab27b;
    border: 1px solid #2ab27b;
}

input[type=radio].check + label.test-answer,input[type=checkbox].check + label.test-answer{
    cursor: pointer;
    padding: 5px 15px;
    width: 100%;
    margin-bottom: 12px;
}

input[type=radio].check:checked + label.test-answer ,input[type=checkbox].check:checked + label.test-answer{
    background: #c1cff0;
    border: 1px solid #c3c0e9;
    color: #3735d5;
}

.logo {
    width: 40px;
    margin-right: 10px;
}
.navbar-header {
    display: flex;
    align-items: center;
}
.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-admin {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.question-admin .wrapper{
    background: #2a88bd;
    cursor: pointer;
    color: white;
}

.answers-admin {
    display: none;
    transition: 350ms;
}

.answers-admin.active {
    display: block;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons .btn {
    margin-left: 5px;
}

form.delete {
    width: min-content;
}



.test-result {

}
.test-result .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pie {
    display: inline-block;
    margin: .5em;
    width: 10em;
    height: 10em;
    position: relative;
    border-radius: 50%;
}

.pie:after {
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    left: .5em;
    top: .5em;
    height: 9em;
    width: 9em;
}

.pie span {
    font-size: 48px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.p0 {
    background-image: linear-gradient(180deg, #ddd 50%, transparent 50%),
    linear-gradient(0deg, #ddd 50%, steelblue 50%);
}

.p1 {
    background-image: linear-gradient(-54deg, #ddd 50%, transparent 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p2 {
    background-image: linear-gradient(-18deg, #ddd 50%, transparent 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p3 {
    background-image: linear-gradient(18deg, #ddd 50%, transparent 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p4 {
    background-image: linear-gradient(54deg, #ddd 50%, transparent 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p5 {
    background-image: linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p6 {
    background-image: linear-gradient(126deg, transparent 50%, steelblue 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p7 {
    background-image: linear-gradient(162deg, transparent 50%, steelblue 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p8 {
    background-image: linear-gradient(198deg, transparent 50%, steelblue 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p9 {
    background-image: linear-gradient(234deg, transparent 50%, steelblue 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p10 {
    background-image: linear-gradient(270deg, transparent 50%, steelblue 50%),
    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.student_result {

}

table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid #f5f8fa; /* Прячем рамку вокруг таблицы */
}
TD {
    padding: 3px 7px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #afb0b2; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
}


.low-time {
    cursor: pointer;
    position: fixed;
    max-width: 90%;
left:50%;
    /*top:55px;*/
top:-200px;
    transition: 500ms;
    transform: translate(-50%);
    z-index: 1020;
width: max-content;
font-size: 21px;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.test-buttons {
    display: flex;
    flex-direction: row;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.tests-list {
    padding: 2px 0;
     cursor: pointer;
    transition: 500ms;
 }

.tests-list:hover {
    background: #a1d4ee;
}

.answer-alert {
    padding: 5px 10px;
    margin-bottom: 5px;
}


.role_student:checked + .student_reg_form {
    border: 1px solid black;
    color:red;
    display: block;
}

.timer {
    position: fixed;
    z-index: 1111;
    top: 0;
    right: 0;
    background: white;
    padding: 5px;
}

.question-pre {
    white-space: pre-wrap;
    user-select: none;
}
.test-answer {
    user-select: none;
}

.test-form {
    padding-bottom: 20px;
}

.alerts {
    position: fixed;
    bottom: 0;
    right: 20px;
}